.social-networks-buttons {
	display: grid;
	height: 275px;
	li {
		width: 270px;
		height: 40px;
		background-color: hsl(0, 0%, 20%);
		border-radius: 10px;
		list-style: none;
	}

	a {
		display: grid;
		text-align: center;
		text-decoration: none;
		padding: 10px;
		color: hsl(0, 0%, 100%);
		font-family: inter-semibold;
	}

	a:hover {
		border-radius: 10px;
		cursor: url("../src/assets/handcursor.svg"), auto;
		background-color: hsl(75, 94%, 57%);
		color: hsl(0, 0%, 8%);
		height: 20px;
	}
}
