* {
	margin: 0;
	bottom: 0;
	font-family: inherit;
}

@font-face {
	font-family: inter-regular;
	src: url("./assets/fonts/static/Inter-Regular.ttf") format("truetype");
	font-display: swap;
}
@font-face {
	font-family: inter-semibold;
	src: url("./assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
	font-display: swap;
}
